input:focus {
    background-color: yellow;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    margin: auto;
    margin-top: 5vh;
    width: 60%;
    text-align: center;
}

body {
    background-color: #3399ff;
}

#info{
    position: absolute;
    width: 15vw;
    left: 42.5vw;
    text-align: center;
    background-color: white;/**Change**/
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}