#forumBox {
    height:80vh;
    width:80vw;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow-y:scroll;
    margin-left: 10vw;
    background-color: white;
}
#postBox {
    width:70vw;
    margin-left: 10vw;
    margin-top: 5vh;
}
#postBtn {
    width:10vw;
}
body {
    background-color: #3399ff;
}